#eventPickList {
  list-style: none;
}
h1 {
  font-family: var(--secondaryFont)
}

body {
  text-align: center;
}

.loadingOverlay {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--contentBackground1);
}

button {
  color: var(--textColor);
}

#eventPickContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 20px;
}

.eventChoice {
  padding: 15px;
  margin: 20px;
  width: 100%;
  font-size: 1.4rem;
  max-width: 800px;
  height: 100px;
  border-radius: 5px;
  border-style: none;
  font-weight: bold;
  text-align: left;
  font-family: var(--secondaryFont);
  letter-spacing: 0.5px;
  color: var(--textColor);
  background: var(--contentBackground1);
  box-shadow: 0px 0px 5px var(--shadowColor);
  transition: all 0.5s;
}
#raceEventButton {
  background-image: linear-gradient(
      to left,
      rgba(40, 38, 38, 0.25),
      var(--buttonColor1)
    ),
    url("../assets/races.png");
  background-position: right;
  margin-top: 75px;
  background-repeat: no-repeat;
}

#bossEventButton {
  background-image: linear-gradient(
      to left,
      rgba(183, 36, 178, 0.25),
      var(--buttonColor1)
    ),
    url("../assets/bosses.png");
  background-position: right;

  background-repeat: no-repeat;
}
#raceEventButton:hover {
  cursor: pointer;
  transform: scale(1.02);
}
#bossEventButton:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#eventTitle {
  margin-top: 75px;
  text-align: center;
  font-family: var(--secondaryFont);
}

#raceArchiveContainer, #bossArchiveContainer, #ctArchiveContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#difficultyButtonContainer {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}
#swapLBButtonContainer {
  display: none;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.eventOverviewContainer {
  background-color: var(--contentBackground1);
  border-radius: 10px;
  margin: 0px 0px 2rem 0px;
  padding: 0 1rem 0 1rem;
  width: 80%;
  max-width: 650px;
  box-shadow: 0px 0px 5px var(--shadowColor);
}
.eventOverviewTitle {
  font-family: var(--secondaryFont);
}
.Live {
  background-color: var(--contentBackground2);
  border: 2px solid var(--contentOutline2);
}
.Yet {  /* lmao this is so stupid*/
  background-color: var(--contentBackground3);
  border: 2px solid var(--contentOutline3);
} 
.overviewNavButtonContainer {
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
  margin: 1rem 0px;
}

.overviewNavButton {
  background-color: var(--buttonColor1);
  padding: 0.5rem;
  border-radius: 10px;
  transition: background-color 0.25s;
  transform: scale(1.1);
}
.overviewNavButton:hover {
  background-color: var(--buttonColor2)
}
/* targets the trophy icon if the info button is also there, just for spacing */
.overviewNavButton:nth-child(2) { 
  margin-left: 1rem;
}
.totalScoresContainer {
  display: flex;
  justify-content: center;
}
.eventScoresContainer {
  margin: 0px 1rem;
  background-color: var(--contentBackground4);
  border: 1px var(--contentOutline4) solid;
  padding: 0px 1rem;
  border-radius: 10px;
}

#racesEventDetails, #bossesEventDetails {
  display: none;
}

.detailsHeader {
  font-family: var(--secondaryFont);
  text-align: center;
  margin-bottom: 0.5rem;
}

.allModifiersContainer {
  display: flex;
  background-color: var(--contentBackground1);
  border: 1px var(--textColor) solid;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 600px;
  margin: 0.5rem auto;
  padding: 0;
}
.singleModContainer {
  padding: 0px 1rem;
  margin: 0px 1rem 1rem 1rem;
}
.singleModContainer.withImage {
  padding: 1rem 1rem 0px 1rem;
}
@media only screen and (max-width: 768px) {
  .singleModContainer {
    padding: 0px 0.5rem;
    margin: 0px 0.5rem 1rem 0.5rem;
  }
  .singleModContainer.withImage {
    padding: 0.5rem 0.35rem 0px 0.35rem;
  }
}
.modImage {
  width: 10vw;
  max-width: 75px;
  image-rendering: pixelated;
}

.mapImage {
  display: block;
  margin-left: auto;
  margin-right: 1rem;
  box-shadow: 0px 0px 3px var(--shadowColor);
  border-radius: 25px;
  width: 80vw;
  max-width: 480px;
  height: calc(80vw * 0.66);
  max-height: 317px;
  /* height = 0.6x width*/
}
.mapImage.noDifficultyButtons {
  margin-right: auto;
}
.widescreenFormattingBossDifficulty {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bossDifficultyButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bossDifficultyButtonContainerLB {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#bossDifficultyButtonContainerLB > * {
  margin: 0 0.5rem;
}
.difficultyImage {
  width: 25vw;
  max-width: 150px;
  background-color: var(--buttonColor1);
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 15px;
  transition: all 0.25s;
}
@media only screen and (max-width: 768px) {
  .widescreenFormattingBossDifficulty {
    flex-direction: column;
  }
  .bossDifficultyButtonContainer {
    flex-direction: row;
  }
  .difficultyImage {
    margin: 0.5rem 1rem;
  }
  .mapImage {
    margin-right: auto;
  }
}
.difficultyImage.inactive {
  filter: grayscale(85%);
}
.difficultyImage.inactive:hover {
  cursor: pointer;
  filter: grayscale(50%);
}
.enabledHeroes {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 15%;
  justify-content: center;
}
.heroIcon {
  height: 15vw;
  max-height: 125px;
  background-color: var(--contentBackground4);
  border: 1px var(--contentOutline4) solid;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}
.headerHeroDisplay {
  border-radius: 7px;
  padding: 1rem;
}
.anyHeroDisplay {
  background-color: var(--contentBackground4);
  border: 1px var(--contentOutline4) solid;
}
.noHeroDisplay {
  background-color: var(--contentBackground1);
  border: 1px var(--textColor) solid;
}
.specialModsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--contentBackground1);
  border: 1px var(--textColor) solid;
  border-radius: 10px;
  width: 80vw;
  max-width: 600px;
  margin: 0.5rem auto;
  padding: 0;
}
.specialModsContainer > * {
  margin: 1rem;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--secondaryFont);
}

.enabledTowersContainer {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  border: 0.6px var(--textColor) solid;
  border-radius: 5px;
  background-color: var(--contentBackground1);
  box-shadow: 0px 0px 3px var(--shadowColor);
  margin: 1rem;
  text-align: center;
}
.enabledTowersContainer:last-child {
  padding-right: 1rem;
}
@media only screen and (min-width: 600px) {
  .enabledTowersContainer {
    justify-content: space-around;
  }
}
.enabledTowersContainer > * {
  display: flex;
  flex-direction: row;
  margin: 0 1rem 0 1rem;
  justify-content: flex-start;
}
.enabledTowersContainer > * > * { /* this is also so stupid */
  margin: 2rem 1rem;
  padding-right: 0.5rem;
}
.scrollInfo {
  display: none;
  text-align: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .scrollInfo {
    display: flex;
  }
}
.leaderboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.playerDiv {
  display: flex;
  align-items: center;
  background: var(--contentBackground1);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: 1px var(--textColor) solid;
  width: 80vw;
  max-width: 750px;
  justify-content: space-between;
}
.placementNumber {
  margin: 0px 1.7rem 0px 1rem;
}
.playerTitleContainer {
  display: flex;
  align-items: center;
  background-color: var(--contentBackground4);
  border: 1px var(--contentOutline4) solid;
  border-radius: 5px;
  padding: 0 1rem;
  flex-shrink: 1;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.playerName {
  margin-left: 1rem;
}
.goToProfile {
  user-select: none;
  background-color: var(--buttonColor1);
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.25s;
}
.placementAndNameWrapper {
  display: flex;
}
.goToProfile:hover {
  background-color: var(--buttonColor2);
}
.allPlayerScoresContainer {
  display: flex;
  align-items: center;
}
.mainScore {
  background-color: var(--contentBackground2);
  border: 1px var(--contentOutline2) solid;
  padding: 0 1rem;
  margin: 0 1rem;
  border-radius: 5px;
} 
@media only screen and (max-width: 768px) {
  .placementAndNameWrapper {
    display: flex;
  }
  .playerDiv {
    flex-direction: column
  }
  .placementNumber, .playerName {
    font-size: 1.2rem;
  }
  .allPlayerScoresContainer {
    margin-top: 1rem;
  }
}

/* this is the back button */
#takeMeHomeCountryRoadsToThePlaceIBelongWestVirginia {
  display: none;
  color: var(--textColor);
  background-color: var(--buttonColor1);
  border-style: none;
  padding: 0.5rem;
  box-shadow: 0px 0px 7px var(--shadowColor);
  border-radius: 3px;
  font-weight: bold;
  position: sticky;
  top: 100px;
  left: 25px;
  transition: 0.15s;
  z-index: 1;
}
#takeMeHomeCountryRoadsToThePlaceIBelongWestVirginia:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.popupContainer {
  position: fixed;
  color: var(--textColor);
  width: 75vw; height: fit-content;
  padding: 10px;
  background: var(--contentBackground1);
  box-shadow: 0px 0px 7px var(--shadowColor);
  border-radius: 5px;
  z-index: 100;
  text-align: left;
}
.popupContainer::backdrop {
  background: rgb(28,115,222);
  background: radial-gradient(circle, rgba(28,115,222,0.6) 0%, rgba(0,0,0,0.2679665616246498) 100%);
}
.popupContainer.open {
  animation: expandIn 0.5s cubic-bezier(0.47, -0.01, 0.1, 0.99) forwards;
}
.popupContainer:not(.open) {
  animation: expandOut 0.3s cubic-bezier(0.58, 0.02, 0.8, 0.87) forwards;
}
.popupTitleContainer {
  display: flex;
  justify-content: space-between;
}
.popupTitle {
  font-family: var(--secondaryFont);
  padding: 10px;
  border-radius: 4px;
}
.popupOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 150vh;
  background: rgba(0, 0, 0, 0.65);
}

.wip {
  cursor: default !important;
}

@keyframes expandIn {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}
@keyframes expandOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}