#eventPickList {
  list-style: none;
}

body {
  text-align: center;
}

.loadingOverlay {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--contentBackground1);
}

button {
  color: var(--textColor);
}

#eventPickContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 20px;
}

.eventChoice {
  padding: 15px;
  margin: 20px;
  width: 100%;
  max-width: 800px;
  height: 15vh;
  max-height: 75px;
  border-radius: 5px;
  border-style: none;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
  font-family: var(--secondaryFont);
  letter-spacing: 0.5px;
  color: var(--textColor);
  background: var(--contentBackground1);
  box-shadow: 0px 0px 3px var(--shadowColor);
  transition: all 0.5s;
}
#raceEventButton {
  background-image: linear-gradient(
      to left,
      rgba(40, 38, 38, 0.25),
      var(--mainButton)
    ),
    url("../assets/races.png");
  background-position: right;
  margin-top: 100px;
  background-repeat: no-repeat;
}

#bossEventButton {
  background-image: linear-gradient(
      to left,
      rgba(183, 36, 178, 0.25),
      var(--mainButton)
    ),
    url("../assets/bosses.png");
  background-position: right;

  background-repeat: no-repeat;
}
#raceEventButton:hover {
  cursor: pointer;
  transform: scale(1.02);
}
#bossEventButton:hover {
  cursor: pointer;
  transform: scale(1.02);
}
#eventTitle {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-family: var(--secondaryFont)
}

#raceArchiveContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bossArchiveContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventTitleContainer {
  display: flex;
  flex-direction: column; 
  border: 1px var(--textColor) solid;
  background: var(--contentBackground1);
  margin: 1.5rem;
  padding: 0.75rem;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--shadowColor);
  align-items: center;
  justify-content: center;
}
.eventName {
  font-size: 1.2rem;
  font-family: var(--secondaryFont)
}
#difficultyButtonContainer {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}
#swapLBButtonContainer {
  display: none;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}
.swapDifficultyButton {
  border-style: none;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.4rem;
  border-radius: 3px;
  box-shadow: 0px 0px 3px var(--shadowColor);
  background-color: var(--mainButton);
  transition: all 0.5s;
}
.swapDifficultyButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.chooseTypeButton {
  border-radius: 3px;
  font-size: 1.2rem;
  width: auto;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  box-shadow: 0px 0px 3px var(--shadowColor);
  border-style: none;
  background-color: var(--mainButton);
  transition: all 0.5s ease;
}
.chooseTypeButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.eventStatus {
  margin-top: 0px;
  font-weight: bold;
}
.live {
  background-color: var(--contentBackground2);
  border: 2px solid var(--contentOutline2);
}

#mapImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  box-shadow: 0px 0px 3px var(--shadowColor);
  border-radius: 25px;
  width: 80vw;
  max-width: 480px;
  height: calc(80vw * 0.66);
  max-height: 317px;
  /* height = 0.6x width*/
}
#bossImage {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 150px;
}

.towerInfo {
  margin: 0 auto;
  font-family: var(--secondaryFont)
}

#raceTitle {
  margin-top: 100px;
  display: none;
  font-size: 1.4rem;
  font-family: var(--secondaryFont);
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#eventDetails {
  display: none;
  flex-direction: column;
  margin: 0 1rem;
}
#raceModifiersContainer {
  display: none;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--shadowColor);
  margin-right: 10px;
  margin-bottom: 25px;
  justify-content: space-evenly;
  border: 0.6px var(--textColor) solid;
  background: var(--contentBackground1);
}
#raceModifiersContainer > * {
  margin-right: 1rem;
}
#specialModsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--shadowColor);
  border: 0.6px var(--textColor) solid;
  margin-right: 10px;
  margin-bottom: 20px;
  justify-content: space-around;
  background: var(--contentBackground1);
}
#specialModsContainer > * {
  margin: 0.8rem;
}

#enabledTowersContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  border: 0.6px var(--textColor) solid;
  border-radius: 5px;
  background-color: var(--contentBackground1);
  box-shadow: 0px 0px 3px var(--shadowColor);
  margin: 1rem;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  #enabledTowersContainer {
    justify-content: space-around;
  }
}
#enabledTowersContainer > * {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
  justify-content: flex-start;
}
#scrollInfo {
  display: none;
  text-align: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  #scrollInfo {
    display: flex;
  }
}
#enabledHeroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 0.6px var(--textColor) solid;
  border-radius: 5px;
  background-color: var(--contentBackground1);
  box-shadow: 0px 0px 3px var(--shadowColor);
  margin: 1rem;
}
#enabledHeroes > * {
  margin: 1rem;
  padding: 0.5rem;
}

#leaderboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.playerElem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0.25px var(--textColor) solid;
  width: 85%;
  max-width: 800px;
  background-color: var(--contentBackground1);
  box-shadow: 0px 0px 3px var(--shadowColor);
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0px 1rem 0px 1rem;
}
.tiebreakerElem {
  background: var(--secondaryButton);
  padding: 3px;
  border-radius: 5px;
}
.tiebreakerElem:hover {
  cursor: pointer;
}
#leaderboardTitle {
  margin-top: 100px;
  font-size: 1.4rem;
  font-family: var(--secondaryFont);
  display: flex;
  justify-content: center;
}

/* this is the back button */
#takeMeHomeCountryRoadsToThePlaceIBelongWestVirginia {
  display: none;
  color: var(--textColor);
  background-color: var(--mainButton);
  border-style: none;
  padding: 0.5rem;
  box-shadow: 0px 0px 7px var(--shadowColor);
  border-radius: 3px;
  font-weight: bold;
  position: sticky;
  top: 100px;
  left: 25px;
  transition: 0.15s;
  z-index: 1;
}
#takeMeHomeCountryRoadsToThePlaceIBelongWestVirginia:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.popupContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw; height: fit-content;
  padding: 10px;
  background: var(--contentBackground1);
  box-shadow: 0px 0px 7px var(--shadowColor);
  border-radius: 5px;
  z-index: 100;
  text-align: left;
}
.popupTitleContainer {
  display: flex;
  justify-content: space-between;
}
.popupTitle {
  background-color: var(--contentBackground2);
  font-family: var(--secondaryFont);
  padding: 10px;
  border-radius: 4px;
}
.popupOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
}

.wip {
  cursor: default !important;
}
