#eventPickList {
  list-style: none;
}

#eventPickContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventChoice {
  margin: 20px;
  padding: 15px;
  width: 100%;
  max-width: 800px;
  height: 15vh;
  max-height: 75px;
  border-radius: 5px;
  border-style: none;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.5px;
  color: black;
  box-shadow: 0px 0px 3px gray;
  transition: all 0.5s;
  /* background: linear-gradient(
    90deg,
    rgba(32, 124, 195, 0.5) 0%,
    rgba(177, 0, 255, 0.5004595588235294) 100%
  ); */
}
#raceEventButton {
  background-image: linear-gradient(
      to left,
      rgba(40, 38, 38, 0.05),
      var(--secondaryButton)
    ),
    url("../media/race.png");
  background-position: right;

  background-repeat: no-repeat;
}
#raceEventButton:hover {
  cursor: pointer;
  transform: scale(1.02);
}
#eventTitle {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

#dataDisplayContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#takeMeHomeCountryRoadsToThePlaceIBelongWestVirginia {
  display: none;
  cursor: pointer;
  color: black;
  background-color: white;
  border-style: none;
  padding: 0.5rem;
  box-shadow: 0px 0px 7px gray;
  border-radius: 3px;
  font-weight: bold;
  position: sticky;
  top: 20px;
  left: 20px;
  transition: 0.15s;
}

#takeMeHomeCountryRoadsToThePlaceIBelongWestVirginia:hover {
  color: var(--secondaryButton);
}

.eventTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 3px gray;
  height: 50px;
  width: 100%;
  max-width: 800px;
  margin: 8px 0px 4px 0px;
  border-radius: 15px;
  transition: 0.5s;
}
.eventTitle:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.live {
  background-color: var(--secondaryButton);
  box-shadow: 0px 0px 3px rgb(84, 178, 209);
  margin-bottom: 6px;
  height: 65px;
}
.live:hover {
  box-shadow: 0px 0px 10px rgb(84, 178, 209);
}
.timestamps {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  width: 100%;
  max-width: 800px;
  border-bottom: 0.5px gray solid;
}

#mapImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  box-shadow: 0px 0px 3px gray;
  border-radius: 25px;
  width: 80vw;
  max-width: 480px;
  height: calc(80vw * 0.66);
  max-height: 317px;
  /* height = 0.6x width*/
}

#statTitle {
  display: none;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#raceMetaAndLB {
  display: none;
  flex-direction: column;
}
#modifiersContainer {
  display: none;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  margin-right: 10px;
  margin-bottom: 25px;
  justify-content: space-evenly;
  background: white;
}
#modifiersContainer > * {
  margin-right: 1rem;
}
#specialModsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  margin-right: 10px;
  justify-content: space-around;
  background: white;
}
#specialModsContainer > * {
  margin: 0.8rem;
}

#enabledTowersContainer {
  display: flex;
  flex-direction: row;
  max-width: none;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 3px gray;
  margin-bottom: 10px;
}
#enabledTowersContainer > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
#enabledHeroes {
  display: flex;
  justify-content: center;
}
#enabledHeroes > * {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px black solid;
  margin: 1rem;
  padding: 1rem;
}
#scrollInfo {
  display: none;
}
@media only screen and (max-width: 600px) {
  #scrollInfo {
    display: flex;
    justify-content: center;
  }
}

.wip {
  cursor: default !important;
}
