/* variables */
:root {
  --mainFont: "Nunito", sans-serif;
  --secondaryFont: "Poppins", sans-serif;
  --pageBackground: black;
  font-size: 15px;
  box-sizing: border-box;
}
.no-scroll {
  overflow: hidden;
}

/* format everything */
body {
  background-color: var(--pageBackground);
  color: var(--textColor);
  margin: 0;
  padding: 0; 
  font-family: var(--mainFont);
  overflow-x: hidden;
  font-size: 1rem;
}

.heroContainer::before {
  content: "";
  background-image: url("../assets/hero.png");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90vh;
  filter: blur(8px);
  z-index: -1;
}
.heroContainer {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: white;
  height: 90vh;
}
.title {
  display: block;
  height: 100%;
  width: 85%;
  text-align: center;
  font-family: var(--secondaryFont);
  font-weight: bold;
  margin: 0 auto;
  font-size: 3rem;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .heroContainer::before {
    height: 650px;
  }
  .heroContainer {
    height: 650px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.65px;
    height: 650px;
  }
}


.navBarContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  z-index: 3;
}
.navList {
  display: flex;
  color: var(--textColor);
  background-color: var(--pageBackground);
  box-shadow: 0px 0px 6px var(--shadowColor);
  flex-direction: row;
  list-style: none;
  margin: 0;
  height: 3rem;
  padding: 0;
  border-bottom: 0.5px var(--textColor) solid;
  justify-content: space-between;
  box-sizing: border-box;
  transition: 0.15s ease-in-out background-color;
}
.navList.navBeforeScroll {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0.5px rgba(0, 0, 0, 0) solid;
  color: white;
  box-shadow: none;
}
.hamburgerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 1.2rem;
}
.material-symbols-outlined {
  display: flex;
  font-size: 2rem;
}
.material-symbols-outlined:hover {
  cursor: pointer;
}
.hamburgerTop {
  display: flex;
}
.hamburgerTop:first-child {
  justify-content: flex-start
}
.pageTheme {
  display: block;
  margin: 0 auto;
  text-align: center;
  background: var(--mainButton);
  color: var(--textColor);
  font-family: var(--secondaryFont);
  border-style: none;
  border-radius: 4px;
  padding: 0.25rem;
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 25px;
  width: 25vw;
  margin-top: 20px;
  transition: .25s all ease;
}
@media only screen and (max-width: 768px) {
  .pageTheme {
    width: 75vw;
  }
}
.pageTheme:hover {
  cursor: pointer;
}
*::-webkit-scrollbar {
  width: 6.5px;
  height: 4px;
}
*::-webkit-scrollbar-track {
  margin-top: 25px;
  margin-bottom: 25px;
  background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--secondaryButton);
  opacity: 0.5;
  border-radius: 10px;
}
.websiteTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.2rem;
  font-size: 1.6rem;
  font-family: var(--secondaryFont);
}
.popupOverlay {
  display: none;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.45);
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  z-index: 10;
}
.hamburgerMenu {
  list-style: none;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
}
.hamburgerContainer {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  z-index: 100;
  width: 100vw;
  justify-content: center;
  transform: translateX(100%);
  animation: slideIn 0.5s forwards;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.openFaceBurger {
  display: flex;
  position: fixed;
  background: var(--pageBackground);
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--shadowColor);
  z-index: 100;
}
.navWebsiteTitle {
  font-family: var(--secondaryFont);
  font-size: 1.6rem;
}
.closeButton {
  display: flex;
  justify-content: flex-start;
  margin-left: 1.5rem; margin-top: 25px;
}
.navItem {
  display: flex;
  justify-content: center;
}
.navButton {
  color: var(--textColor);
  font-family: var(--secondaryFont);
  width: 65%;
  max-width: 600px;
  height: 3.5rem;
  font-size: 1.25rem;
  margin: 10px;
  background: linear-gradient(90deg, var(--mainButton) 0%, var(--secondaryButton) 100%);
  border-style: none;
  border-radius: 3px;
  transition: all 0.5s;
}
.navButton:hover {
  cursor: pointer;
  transform: scale(1.02)
}
.jumpToResourcesButton {
  display: block;
  color: var(--textColor);
  padding: 10px;
  font-size: 1.2rem;
  margin: 0 auto;
  background-color: var(--mainButton);
  border-style: none;
  border-radius: 3px;
  transition: all 0.5s;
}
.jumpToResourcesButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.currentPage {
  border: 2px gold solid;
}


.newsHeader, .resourcesHeader {
  display: flex;
  justify-content: center;
  font-family: var(--secondaryFont);
  font-size: 2.5rem;
  padding: 0;
}
.newsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.newsCard {
  background: var(--contentBackground1);
  margin: 1rem;
  padding: 1rem;
  width: 85%;
  max-width: 800px;
  border-radius: 15px;
  border: 1px var(--textColor) solid;
  align-self: center;
}
.newsTitle {
  font-family: var(--secondaryFont)
}
.newsTimestamp, .newsCardNumber {
  font-style: italic;
}
.newsImage {
  display: flex;
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
}
.newsButton {
  padding: 0.5rem;
  margin: 10px 10px 0 0;
  background: var(--mainButton);
  color: var(--textColor);
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px var(--shadowColor);
  transition: all 0.25s;
}
.newsButton:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.bigNews {
  background: var(--contentBackground2);
  border: 2px solid var(--contentOutline2);
}

.resourcesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.resourceItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--contentBackground1);
  width: 85%;
  max-width: 800px;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px var(--textColor) solid;
}
.resourceButton {
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  height: fit-content;
  background: var(--mainButton);
  color: var(--textColor);
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px var(--shadowColor);
  transition: all 0.25s;
  font-size: 1.2rem;
}
.resourceButton:hover {
  cursor: pointer;
  transform: scale(1.03);
}
@media only screen and (max-width: 768px) {
  .resourcesList {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .resourceButton {
    width: 75%;
  }
}

.takeMeHomeContainer {
  display: none;
  position: fixed;
  transform: scale(1.05);
  top: 100px;
  left: 4vw;
  background: var(--mainButton);
  box-shadow: 0px 0px 5px var(--shadowColor);
  border-radius: 100%;
  transition: all 0.5s;
  z-index: 5;
  user-select: none;
}
@media only screen and (max-width: 768px) {
  .takeMeHomeContainer {
    top: 125px;
  }
}
.takeMeHomeContainer:hover {
  transform: scale(1.2);
}
.takeMeHome {
  font-size: 3rem;
}

/* removes text decoration from visited or unviisted links */
a:link {
  text-decoration: none;
  color: var(--textColor);
}
a:visited {
  text-decoration: none;
  color: var(--textColor);
}

.header {
  font-size: 1.75rem;
}

.versionHeader {
  font-size: 1.4rem;
}

button {
  font-family: var(--mainFont);
}

.wip {
  opacity: var(--wip) !important;
}

