input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
select:hover {
    cursor: pointer;
}

.firstElem {
    margin-top: 75px;
}
.noMarginTop {
    margin-top: 0;
}
button:not(.wip):hover {
    cursor: pointer;
}
.optionsBar {
    margin-top: 75px;
}
.actuallyTakeMeHomeContainer {
    position: fixed;
    transform: scale(1.05);
    top: 80px;
    left: 3vw;
    padding: 0.4rem;
    background: var(--buttonColor1);
    box-shadow: 0px 0px 5px var(--shadowColor);
    border-radius: 100%;
    transition: all 0.5s;
    z-index: 5;
    user-select: none;
}
.actuallyTakeMeHomeContainer:hover {
    background-color: var(--buttonColor2);
  }
h1, h2, .attackName {
    font-family: var(--secondaryFont);
}
.name {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.tier {
    text-align: center
}
.paragonName, .paragonDegree {
    color: var(--textColor3)
}
.degreeEditorContainer {
    border-bottom: 1px var(--textColor) solid;
}
.editorOptionContainer {
    background-color: var(--contentBackground1);
    border-radius: 5px;
    padding: 1rem;
    border: 1px var(--textColor) solid;
}
.editorOptionContainer.unchecked > *:not(.checkmark) {
    opacity: 0.25
}
#pikachuIChooseYou, #charizardIChooseYou {
    opacity: 1
}
#pikachuIChooseYou:hover, #charizardIChooseYou:hover {
    cursor: pointer
}
.calculateParagonDegreeButton {
    background-color: var(--buttonColor1);
    border-radius: 5px;
    color: var(--textColor);
    border: 1px var(--textColor) solid;
    padding: 0.5rem;
    margin: 0.5rem 0 0 0;
    transition: background-color 0.5s;
}
.calculateParagonDegreeButton:hover {
    background-color: var(--buttonColor2);
}
.result {
    margin-left: 0.5rem;
}
@media only screen and (max-width: 768px) {
    .result {
        margin: 0
    }
}
.degreeEditorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.degreeEditorContainer > * {
    margin: 1.5rem;
}
.degreeCalculatorContainer {
    display: block;
}
.valueInput {
    font-family: var(--primaryFont);
    width: 40px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    color: var(--textColor);
    outline: 1px var(--textColor) solid;
    background-color: var(--contentBackground3);
    border: none;
    transition: all 0.25s;
}
.valueInput.wider {
    width: 65px;
}
.valueInput.muchWider {
    width: 100px;
}
.valueInput:focus {
    outline: 1px var(--textColor2) solid;
}

.toolsPickContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.toolButton {
    padding: 0.5rem;
    margin: 0.5rem;
}

.heroLevelCalculatorContainer {
    display: none;
    text-align: center;
    margin: 2rem 0;
}
.heroLevelBasicContainer > * > select, .heroLevelBasicContainer > * > input,
.heroLevelByContainer > select, .heroLevelByContainer > input {
    width: 8rem;
    margin: 0.25rem;
    background-color: var(--contentBackground1);
    color: var(--textColor);
    border-radius: 5px;
    border: 1px var(--textColor) solid;
}
.heroLevelCalcHeader {
    margin-top: 75px;
}
.confirmHeroCalcButton {
    width: 100px;
    height: 30px;
}
.heroLevelBasicResult, .heroLevelByResult {
    background-color: var(--contentBackground4);
    border-radius: 5px;
    box-shadow: 0px 0px 3px var(--shadowColor);
    margin: 10px auto 30px auto;
    padding: 5px;
}
.heroLevelBasicResult {
    width: 20vw;
    max-width: 600px;
}
.heroLevelByResult {
    max-width: 75vw;
}
.heroLevelBasicResult:empty, .heroLevelByResult:empty {
    display: none;
}

.paragonDegreeCalculatorContainer {
    display: none;
    text-align: center;
}
.paragonDegreeCalcHeader {
    margin-top: 75px;
}
#paragonNameInput {
    border-radius: 10px;
    color: var(--textColor);
    padding: 0.25rem;
    border: 1px var(--textColor) solid;
    background-color: var(--contentBackground1);
}

.calcInput {
    margin: 0.25rem;
}

.heroLevelByContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.lineBreak {
    width: 100%;
}

.towerPickContainer > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.towerPickContainer > * > * {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.towerPickContainer button {
    color: var(--textColor);
    height: 2rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    border: 1px var(--textColor) solid;
    width: 85%;
    max-width: 850px;
}
.towerPickContainer button:not(.wip):not(.paragon) {
    background-color: var(--buttonColor1);
    height: 4rem;
    transition: 0.5s ease;
}
.towerPickContainer .paragon:not(.wip) {
    background-color: var(--buttonColor3);
    border: 1.5px var(--contentOutline3) solid;
    height: 4rem;
    transition: 0.5s ease;
    font-family: var(--primaryFont);
    font-size: 1.25rem;
}

.towerPickContainer button:not(.wip):hover {
    transform: scale(1.02)
}
.towerPickContainer button.wip {
    background-color: var(--contentBackground1);
}

.paragonContainer {
    margin-top: 5rem;
}
.attackName {
    text-align: center;
    padding: 2rem 0 0 0;
    margin: 0;
}
.attackName.notCentered {
    text-align: left;
    padding-left: 0;
    margin-left: 2rem;
}
.attackType {
    text-align: center;
    opacity: 0.7;
    padding: 0;
    margin-top: 0;
}
.attackDiv {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 1.2rem;
    padding-bottom: 0.5rem;
}
.attackDiv.notCentered {
    justify-content: flex-start;
    margin: 0 1rem;
}
.attackDiv > * {
    background-color: var(--contentBackground1);
    margin: 0.6rem;
    padding: 0 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 3px var(--shadowColor);
}
.emissionName {
    margin-top: 0;
    padding-top: 0;
}
.damageDiv, .lifespanDiv {
    position: relative;
    display: flex;
}
.damageDiv > * {
    margin: 0 1rem;
}
@media only screen and (max-width: 768px) {
    .damageDiv {
        width: auto;
        justify-content: auto;
    }
}
.damageDiv > * {
    margin: 0.5rem;
}
.filterSelect {
    display: none;
}
.special {
    background-color: var(--contentBackground2);
    border: 1px var(--contentOutline2) solid;
}
.description, .special {
    max-width: 800px;
}
.heroStatsContainer > * > * > .description {
    max-width: 450px;
}
.frequency, .emitsFrom {
    flex-basis: 40%;
}
@media only screen and (max-width: 760px) {
    .frequency, .emitsFrom {
        width: 35%
    }
    .sectionTitle {
        border-right: none;
        padding-right: 0;
    }
}


.attackDivTest {
    display: flex;
}
.attackElemLabel {
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: var(--contentBackground4);
    box-shadow: 0px 0px 5px var(--shadowColor);
    border-radius: 5px;
    height: fit-content;
    padding: 0.25rem;
}
.damagePart {
    margin: 0 0.5rem;
    text-align: center;
}

.heroHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroStatsAndSelectContainer {
    display: flex;
}
.heroLevelSelectHeader {
    margin: 0 0 0 2rem;
}
.heroImage {
    width: 25vw;
    height: 200px;
    object-fit: contain;
}
.heroLevelSelectContainer {
    width: 25vw;
    height: fit-content;
    margin: 0 0 0 2rem;
    background-color: var(--contentBackground1);
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 0 0 3px var(--shadowColor);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
}
.chooseLevelButton {
    border: none;
    text-align: center;
    box-shadow: 0 0 2px var(--shadowColor);
    padding: 7px 2px 5px 2px;
}
.chooseLevelButton.addsAbility {
    border: 1px var(--contentOutline4) solid;
}
.chooseLevelButton.selected {
    outline: 2px gold solid;
}
.chooseLevelButton.selected:hover {
    cursor: default;
}
.heroStatsContainer > * > * > .attackName, .heroStatsContainer > * > .attackName {
    margin-left: 2rem;
}
.damageTypeIconContainer {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    width: 60vw;
    padding: 1rem 0;
}
.damageTypeImage {
    width: 25px;
    object-fit: contain;
}
.attackCategoryIcon {
    max-width: 30px;
    margin-right: 10px;
}
.attackName.notCentered {
    display: flex;
    align-items: center;
}
@media only screen and (min-width: 1000px) {
    .heroLevelContainer {
        position: sticky;
        top: 150px;
        height: fit-content;
        width: fit-content;
    }
}
.heroNameAndCostContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
@media only screen and (max-width: 1000px) {
    .heroStatsAndSelectContainer {
        display: block;
    }
    .heroLevelSelectContainer {
        display: flex;
        width: 75vw;
        margin: 0 auto;
        overflow-x: auto;
        background-color: transparent;
        box-shadow: none;
        overscroll-behavior: contain;
    }
    .heroLevelSelectContainer::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    .chooseLevelButton {
        padding: 8px 10px 6px 10px;
        min-width: 20px;
    }
    .heroNameAndCostContainer {
        margin-left: 2rem;
    }
    .damageTypeIconContainer > * {
        display: flex;
        flex-direction: column;
    }
    .heroName {
        max-width: 100px;
    }
}
.indivDamageTypeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.damageTypeImage {
    padding: 2px;
}
.heroesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.heroesContainer > * {
    flex-basis: 40%;
    font-size: 1.25rem;
}
@media only screen and (max-width: 768px) {
    .heroesContainer > * {
        font-size: 1rem;
    }
}