button:not(.wip):hover {
    cursor: pointer;
}
.optionsBar {
    margin-top: 75px;
}
.towerPickContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.towerPickContainer > * {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.towerPickContainer button {
    color: var(--textColor);
    height: 2rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    border: 1px var(--textColor) solid;
    width: 85%;
    max-width: 850px;
}
.towerPickContainer button:not(.wip):not(.paragon) {
    background-color: var(--buttonColor1);
    height: 4rem;
    transition: 0.5s ease;
}
.towerPickContainer .paragon:not(.wip) {
    background-color: var(--buttonColor3);
    border: 1.5px var(--contentOutline3) solid;
    height: 4rem;
    transition: 0.5s ease;
    font-family: var(--secondaryFont);
    font-size: 1.5rem;
}

.towerPickContainer button:not(.wip):hover {
    transform: scale(1.02)
}
.towerPickContainer button.wip {
    background-color: var(--contentBackground1);
}